@model LlamaStoreVista.Models.Admin.AdminViewModel

<table class="data-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Precio Oferta</th>
            <th>Creacion</th>
            <th>Actualizacion</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.Accesorios)
        {
            <tr>
                <td>@a.idacce</td>
                <td>@a.tipo</td>
                <td>@a.nombre_marca</td>
                <td>@a.modelo</td>
                <td>@a.precio</td>
                <td>@a.precio_oferta</td>
                <td>@a.created_at</td>
                <td>@a.updated_at</td>
                <td><span class="stock-high">@a.stock</span></td>
                
                <td>
                    <button class="action-btn edit-btn"><i class="fas fa-edit"></i></button>
                    <button class="action-btn delete-btn"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>