@model LlamaStoreVista.Models.Admin.AdminViewModel

<table class="data-table">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Correo
            </th>
            <th>
                Fecha
            </th>
            <th>
                Clave
            </th>
            <th>
                Roll
            </th>
            <th>
                Estado
            </th>
            <th>
                Creacion
            </th>
            <th>
                Actualizacion
            </th>
            <th>
                Ultimo
            </th>
            <th>
                Intentos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model.Usuarios)
        {
            <tr>
                <td>
                    @u.codigo
                </td>
                <td>
                    @u.nombre
                </td>
                <td>
                    @u.apellido
                </td>
                <td>
                    @u.correo
                </td>
                <td>
                    @u.fnacim
                </td>
                <td>
                    @u.clave
                </td>
                <td>
                    @u.idrol
                </td>
                <td>
                    @u.estado
                </td>
                <td>
                    @u.created_at
                </td>
                <td>
                    @u.updated_at
                </td>
                <td>
                    @u.last_login
                </td>
                <td>
                    @u.intentos_login
                </td>
                <td><span class="status active">Activo</span></td>
                <td>
                    <button class="action-btn edit-btn"><i class="fas fa-edit"></i></button>
                    <button class="action-btn delete-btn"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
